<section class="jumbotron" ng-class="{'active': 'active'}" ng-show="user.Company.LogoUrl">
    <div class="container navSpanContainer">
        <!-- Begin NavBarRight-->
        <span class="mainImage">    
            <a ng-click="refreshUser()" href="catalog">
                <!--<img ng-src="{{user.Company.LogoUrl}}" />-->
                <img src="http://www.four51.com/Themes/Custom/df7e2b71-6326-4da6-a24f-554d7d910faf/imagesFolder/konaIce/konaSiteLogo.png" />
            </a>
        </span>
        <span class="pull-right rightNavBar collapse navbar-collapse navColorRight" ng-class="{'navRightHeightControl': isActive('catalog')}" id="rightNavBarContainer">
          <ul class="nav navbar-nav colorControlRight">
            <!--to adjust the links, change everything between the two ul tags-bb-->
            <li class="active"><a href="catalog/40849-cupsAndStraws">Cups & Straws<span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
            <a href="catalog/40849-konaWear" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kona Wear<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="catalog/40849-KonaWear-Mens">Men</a></li>
                    <li><a href="catalog/40849-KonaWear-ladies">Ladies</a></li>
                    <li><a href="catalog/40849-KonaWear-youth">Youth</a></li>
                    <li><a href="catalog/40849-konaWearAll">All</a></li>
                 </ul>
            </li>
            <li class="dropdown">
                <a href="catalog" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Marketing<span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="catalog/40849-konaBCs">Business Cards</a></li>
                <li><a href="catalog/40849-marketingMaterials">Marketing Materials</a></li>
                <li><a href="catalog/40849-giveaways">Giveaways</a></li>
                <li><a href="catalog/40849-promotional">Promotional</a></li>
                <li><a href="catalog/40849-lthdAndEnv">Letterhead & Envelopes</a></li>
                <li><a href="catalog/40849-canopyFlagOther">Canopy, Flag, Other</a></li>
                <li><a href="catalog/40849-prepaidCards">Prepaid Cards</a></li>
              </ul>
            </li>
            <li class="active"><a href="catalog/40849-otherSupplies">Supplies<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="catalog/40849-lastChance">***Last Chance***<span class="sr-only">(current)</span></a></li>
 
 
          </ul>
        </span>
    </div>
</section>
<section class="jumbotron carouselContainer" ng-class="{'active': isActive('catalog')}">
    <customcarousel></customcarousel>
</section>











