<section class="jumbotron" ng-class="{'active': 'active'}" ng-show="user.Company.LogoUrl">
    <div class="container navSpanContainer">
        <!-- Begin NavBarRight-->
        <span class="mainImage">    
            <a ng-click="refreshUser()" href="catalog">
                <img ng-src="{{user.Company.LogoUrl}}" />
                <!--<img src="http://www.four51.com/Themes/Custom/df7e2b71-6326-4da6-a24f-554d7d910faf/imagesFolder/restOfImageLink.jpg" /> -->
            </a>
        </span>
        <span class="pull-right rightNavBar collapse navbar-collapse navColorRight" ng-class="{'navRightHeightControl': isActive('catalog')}" id="rightNavBarContainer">
          <ul class="nav navbar-nav colorControlRight">
            <!-- to replace links, replace this code -->
            
            <li class="dropdown">
              <a href="catalog/34463-Apparel" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apparel<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="catalog/34463-men">Men</a></li>
                <li><a href="catalog/34463-Ladies">Ladies</a></li>
                <li><a href="catalog/34463-Hats">Hats</a></li>
                <li><a href="catalog/34463-AllApparel">All</a></li>
              </ul>
            </li>
            <li class="active"><a href="catalog/34463-promo">Promo <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Marketing<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Business Cards</a></li>
                <li><a href="#">Signs</a></li>
                <li><a href="#">Banners</a></li>
                <li><a href="#">Promotional Cards</a></li>
                <li><a href="#">Flyers</a></li>
              </ul>
            </li>
            <li class="active"><a href="#">Flyers<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#">New Additions<span class="sr-only">(current)</span></a></li>
            
            <!-- end of right side links -->
          </ul>
        </span>
    </div>
</section>
<section class="jumbotron carouselContainer" ng-class="{'active': isActive('catalog')}">
    <customcarousel></customcarousel>
</section>











