<header class="header navbar navbar-inner navColor">
<nav tolerance="5" offset="0"  class="navbar navbar-default navbar-fixed-top" role="navigation" headroom>
        <section>
            <div class="container navSpanContainer">
                <ul class="nav navbar-nav pull-left">
                    <li class="back animated fadeInLeft" ng-class="{'ng-hide': isActive('catalog')}">
                        <a href back-step class="back colorControl">
                            <i class="fa fa-arrow-left faColorControl"></i>
                        </a>
                    </li>
                    <li class="products" ng-class="{'active': isInPath('catalog') || isInPath('product') || isInPath('cart/default') || isInPath('search')}" class="colorControl">
                        <a id="451qa_home_link" ng-show="Four51User.isAuthenticated()" href="catalog">
                            <i class="fa fa-home"></i>
                            <span class="hidden-xs">{{'Products' | rc | xlat}}</span>
                        </a>
                    </li>
                    <li class="dropdown admin-user visible-xs visible-sm visible-md visible-lg">
                        <a id="451qa_acct_link2" class="dropdown-toggle colorControl" data-toggle="dropdown">
                            <i class="fa fa-bars"></i>
                            <span>{{'Categories' | r | xlat}}</span>
                        </a>
                        <ul class="dropdown-menu" id="dropdownColorControl">
                                <categorytree tree='tree' current='currentCategory' />
                        </ul>
                    </li>
                    <!--http://kona-ice.wt-demo.com/-->
                    <li>
                        <a href="http://franchisee.kona-ice.com/" target="_blank" class="colorControl">
                            <i class="fa fa-truck xsDevices"></i>
                            <span class="collapseOnMobile">Kona Franchisee News</span>
                            <span class="expandOnMobile">Franchisee</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.kreationsflavoring.com" target="_blank" class="colorControl">
                            <i class="fa fa-tint xsDevices"></i>
                            <span class="collapseOnMobile">Kona Kreations</span>
                            <span class="expandOnMobile">Kreations</span>
                        </a>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav pull-right">
                    <li class="cart" ng-class="{'active': isActive(['cart', 'checkout'])}">
                        <a id="451qa_cart_link" ng-show="cartCount && user.CurrentOrderID" class="cart colorControl" href="cart">
                            <span ng-bind="cartCount" class="badge cartCountColor"></span>
                            <i class="fa fa-shopping-cart"></i>
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
</header>

























